/*
 *
 * Uncomment and set these variables to customize the grid.
 *
 *
*/

:root {
  --gutter-width: 1rem;
  --outer-margin: 2rem;
  --gutter-compensation: calc( var( --gutter-width / 2 ) * -1 );
  --half-gutter-width: calc( var( --gutter-width / 2 ) );
  --screen-xs-min: 30em;
  --screen-sm-min: 48em;
  --screen-md-min: 62em;
  --screen-lg-min: 75em;
  --container-sm: calc( 45rem + var( --gutter-width ) );
  --container-md: calc( 60rem + var( --gutter-width ) );
  --container-lg: calc( 70rem + var( --gutter-width ) );
 }

/* TODO: use var() everywhere */

structure-fluid[container-fluid] {
  margin-right: auto;
  margin-left: auto;
}

structure-fluid[fullscreen] {
  min-height: 100%;
}

structure-fluid {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
/*  margin-right: -0.5rem;
  margin-left: -0.5rem;*/
}

structure-fluid[reverse] {
  flex-direction: row-reverse;
  flex-wrap: row-reverse;
}

structure-fluid[reverse]:not([group]) {
  flex-direction: column-reverse;
  flex-wrap: column-reverse;
}

structure-fluid[small],
structure-fluid[small="1"],
structure-fluid[small="2"],
structure-fluid[small="3"],
structure-fluid[small="4"],
structure-fluid[small="5"],
structure-fluid[small="6"],
structure-fluid[small="7"],
structure-fluid[small="8"],
structure-fluid[small="9"],
structure-fluid[small="10"],
structure-fluid[small="11"],
structure-fluid[small="12"]
/* TODO: Do offsets */
/*structure-fluid[small=]-offset-1,
structure-fluid[small=]-offset-2,
structure-fluid[small=]-offset-3,
structure-fluid[small=]-offset-4,
structure-fluid[small=]-offset-5,
structure-fluid[small=]-offset-6,
structure-fluid[small=]-offset-7,
structure-fluid[small=]-offset-8,
structure-fluid[small=]-offset-9,
structure-fluid[small=]-offset-10,*/
/*structure-fluid[small=]-offset-11,
structure-fluid[small=]-offset-12 */
{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding-right: 0rem;
  padding-left: 0rem;
}

structure-fluid[small] {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

structure-fluid[small="1"] {
  flex-basis: 8.333333333%;
  max-width: 8.333333333%;
}

structure-fluid[small="2"] {
  flex-basis: 16.666666667%;
  max-width: 16.666666667%;
}

structure-fluid[small="3"] {
  flex-basis: 25%;
  max-width: 25%;
}

structure-fluid[small="4"] {
  flex-basis: 33.333333333%;
  max-width: 33.333333333%;
}

structure-fluid[small="5"] {
  flex-basis: 41.666666667%;
  max-width: 41.666666667%;
}

structure-fluid[small="6"] {
  flex-basis: 50%;
  max-width: 50%;
}

structure-fluid[small="7"] {
  flex-basis: 58.333333333%;
  max-width: 58.333333333%;
}

structure-fluid[small="8"] {
  flex-basis: 66.666666667%;
  max-width: 66.666666667%;
}

structure-fluid[small="9"] {
  flex-basis: 75%;
  max-width: 75%;
}

structure-fluid[small="10"] {
  flex-basis: 83.333333333%;
  max-width: 83.333333333%;
}

structure-fluid[small="11"] {
  flex-basis: 91.666666667%;
  max-width: 91.666666667%;
}

structure-fluid[small="12"] {
  flex-basis: 100%;
  max-width: 100%;
}

/*structure-fluid[small=]-offset-1 {
  margin-left: 8.333333333%;
}

structure-fluid[small=]-offset-2 {
  margin-left: 16.666666667%;
}

structure-fluid[small=]-offset-3 {
  margin-left: 25%;
}

structure-fluid[small=]-offset-4 {
  margin-left: 33.333333333%;
}

structure-fluid[small=]-offset-5 {
  margin-left: 41.666666667%;
}

structure-fluid[small=]-offset-6 {
  margin-left: 50%;
}

structure-fluid[small=]-offset-7 {
  margin-left: 58.333333333%;
}

structure-fluid[small=]-offset-8 {
  margin-left: 66.666666667%;
}

structure-fluid[small=]-offset-9 {
  margin-left: 75%;
}

structure-fluid[small=]-offset-10 {
  margin-left: 83.333333333%;
}

structure-fluid[small=]-offset-11 {
  margin-left: 91.666666667%;
}*/

/*structure-fluid.start-xs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}*/

structure-fluid[align-x="center"][align-y="center"] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
/*  text-align: center;*/
}

structure-fluid.end-xs {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

structure-fluid.top-xs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

structure-fluid[align-y="center"] {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

structure-fluid.bottom-xs {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

structure-fluid.around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

structure-fluid.between-xs {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

structure-fluid.first-xs {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

structure-fluid.last-xs {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and ( min-width: 48em ) ) {
  structure-fluid[group] {
    width: 46rem;
  }

  structure-fluid[small],
  structure-fluid[small="1"],
  structure-fluid[small="2"],
  structure-fluid[small="3"],
  structure-fluid[small="4"],
  structure-fluid[small="5"],
  structure-fluid[small="6"],
  structure-fluid[small="7"],
  structure-fluid[small="8"],
  structure-fluid[small="9"],
  structure-fluid[small="10"],
  structure-fluid[small="11"],
  structure-fluid[small="12"]
/*  structure-fluid.col-sm-offset-1,
  structure-fluid.col-sm-offset-2,
  structure-fluid.col-sm-offset-3,
  structure-fluid.col-sm-offset-4,
  structure-fluid.col-sm-offset-5,
  structure-fluid.col-sm-offset-6,
  structure-fluid.col-sm-offset-7,
  structure-fluid.col-sm-offset-8,
  structure-fluid.col-sm-offset-9,
  structure-fluid.col-sm-offset-10,
  structure-fluid.col-sm-offset-11,
  structure-fluid.col-sm-offset-12 */
  {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    flex-grow: 0;

    flex-shrink: 0;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  structure-fluid[small]{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  structure-fluid[small="1"] {
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  structure-fluid[small="2"] {
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  structure-fluid[small="3"] {
    flex-basis: 25%;
    max-width: 25%;
  }

  structure-fluid[small="4"] {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  structure-fluid[small="5"] {
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  structure-fluid[small="6"] {
    flex-basis: 50%;
    max-width: 50%;
  }

  structure-fluid[small="7"] {
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  structure-fluid[small="8"] {
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  structure-fluid[small="9"] {
    flex-basis: 75%;
    max-width: 75%;
  }

  structure-fluid[small="10"] {
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  structure-fluid[small="11"] {
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  structure-fluid[small="12"] {
    flex-basis: 100%;
    max-width: 100%;
  }

/*
  structure-fluid.col-sm-offset-1 {
    margin-left: 8.333333333%;
  }

  structure-fluid.col-sm-offset-2 {
    margin-left: 16.666666667%;
  }

  structure-fluid.col-sm-offset-3 {
    margin-left: 25%;
  }

  structure-fluid.col-sm-offset-4 {
    margin-left: 33.333333333%;
  }

  structure-fluid.col-sm-offset-5 {
    margin-left: 41.666666667%;
  }

  structure-fluid.col-sm-offset-6 {
    margin-left: 50%;
  }

  structure-fluid.col-sm-offset-7 {
    margin-left: 58.333333333%;
  }

  structure-fluid.col-sm-offset-8 {
    margin-left: 66.666666667%;
  }

  structure-fluid.col-sm-offset-9 {
    margin-left: 75%;
  }

  structure-fluid.col-sm-offset-10 {
    margin-left: 83.333333333%;
  }

  structure-fluid.col-sm-offset-11 {
    margin-left: 91.666666667%;
  } */

  structure-fluid.start-sm {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  structure-fluid.center-sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  structure-fluid.end-sm {
    justify-content: flex-end;
    text-align: end;
  }

  structure-fluid.top-sm {
    align-items: flex-start;
  }

  structure-fluid.middle-sm {
    align-items: center;
  }

  structure-fluid.bottom-sm {
    align-items: flex-end;
  }

  structure-fluid.around-sm {
    justify-content: space-around;
  }

  structure-fluid.between-sm {
    justify-content: space-between;
  }

  structure-fluid.first-sm {
    order: -1;
  }

  structure-fluid.last-sm {
    order: 1;
  }
}

@media only screen and ( min-width: 62em ) {
  structure-fluid.container {
    width: 61rem;
  }

  structure-fluid[medium],
  structure-fluid[medium="1"],
  structure-fluid[medium="2"],
  structure-fluid[medium="3"],
  structure-fluid[medium="4"],
  structure-fluid[medium="5"],
  structure-fluid[medium="6"],
  structure-fluid[medium="7"],
  structure-fluid[medium="8"],
  structure-fluid[medium="9"],
  structure-fluid[medium="10"],
  structure-fluid[medium="11"],
  structure-fluid[medium="12"]
/*  structure-fluid.col-md-offset-1,
  structure-fluid.col-md-offset-2,
  structure-fluid.col-md-offset-3,
  structure-fluid.col-md-offset-4,
  structure-fluid.col-md-offset-5,
  structure-fluid.col-md-offset-6,
  structure-fluid.col-md-offset-7,
  structure-fluid.col-md-offset-8,
  structure-fluid.col-md-offset-9,
  structure-fluid.col-md-offset-10,
  structure-fluid.col-md-offset-11,
  structure-fluid.col-md-offset-12*/
  {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0rem;
    padding-left: 0rem;
  }


  structure-fluid[medium]{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  structure-fluid[medium="1"] {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  structure-fluid[medium="2"] {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  structure-fluid[medium="3"] {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  structure-fluid[medium="4"] {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  structure-fluid[medium="5"] {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  structure-fluid[medium="6"] {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  structure-fluid[medium="7"] {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  structure-fluid[medium="8"] {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  structure-fluid[medium="9"] {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  structure-fluid[medium="10"] {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  structure-fluid[medium="11"] {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  structure-fluid[medium="12"] {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }


  structure-fluid.col-md-offset-1 {
    margin-left: 8.333333333%;
  }

  structure-fluid.col-md-offset-2 {
    margin-left: 16.666666667%;
  }

  structure-fluid.col-md-offset-3 {
    margin-left: 25%;
  }

  structure-fluid.col-md-offset-4 {
    margin-left: 33.333333333%;
  }

  structure-fluid.col-md-offset-5 {
    margin-left: 41.666666667%;
  }

  structure-fluid.col-md-offset-6 {
    margin-left: 50%;
  }

  structure-fluid.col-md-offset-7 {
    margin-left: 58.333333333%;
  }

  structure-fluid.col-md-offset-8 {
    margin-left: 66.666666667%;
  }

  structure-fluid.col-md-offset-9 {
    margin-left: 75%;
  }

  structure-fluid.col-md-offset-10 {
    margin-left: 83.333333333%;
  }

  structure-fluid.col-md-offset-11 {
    margin-left: 91.666666667%;
  }

  structure-fluid.start-md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  structure-fluid.center-md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  structure-fluid.end-md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  structure-fluid.top-md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  structure-fluid.middle-md {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  structure-fluid.bottom-md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  structure-fluid.around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  structure-fluid.between-md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  structure-fluid.first-md {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  structure-fluid.last-md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

/*@media only screen and ( min-width: var( --screen-lg-min, 75em ) ) {*/
@media only screen and ( min-width: 75em ) ) {
  structure-fluid[group] {
    width: 71rem;
  }

  structure-fluid[large],
  structure-fluid[large="1"],
  structure-fluid[large="2"],
  structure-fluid[large="3"],
  structure-fluid[large="4"],
  structure-fluid[large="5"],
  structure-fluid[large="6"],
  structure-fluid[large="7"],
  structure-fluid[large="8"],
  structure-fluid[large="9"],
  structure-fluid[large="10"],
  structure-fluid[large="11"],
  structure-fluid[large="12"]
/*  structure-fluid.col-lg-offset-1,
  structure-fluid.col-lg-offset-2,
  structure-fluid.col-lg-offset-3,
  structure-fluid.col-lg-offset-4,
  structure-fluid.col-lg-offset-5,
  structure-fluid.col-lg-offset-6,
  structure-fluid.col-lg-offset-7,
  structure-fluid.col-lg-offset-8,
  structure-fluid.col-lg-offset-9,
  structure-fluid.col-lg-offset-10,
  structure-fluid.col-lg-offset-11,
  structure-fluid.col-lg-offset-12 */
  {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  structure-fluid[large]{
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  structure-fluid[large="1"] {
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  structure-fluid[large="2"] {
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  structure-fluid[large="3"] {
    flex-basis: 25%;
    max-width: 25%;
  }

  structure-fluid[large="4"] {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  structure-fluid[large="5"] {
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  structure-fluid[large="6"] {
    flex-basis: 50%;
    max-width: 50%;
  }

  structure-fluid[large="7"] {
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  structure-fluid[large="8"] {
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  structure-fluid[large="9"] {
    flex-basis: 75%;
    max-width: 75%;
  }

  structure-fluid[large="10"] {
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  structure-fluid[large="11"] {
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  structure-fluid[large="12"] {
    flex-basis: 100%;
    max-width: 100%;
  }

  structure-fluid.col-lg-offset-1 {
    margin-left: 8.333333333%;
  }

  structure-fluid.col-lg-offset-2 {
    margin-left: 16.666666667%;
  }

  structure-fluid.col-lg-offset-3 {
    margin-left: 25%;
  }

  structure-fluid.col-lg-offset-4 {
    margin-left: 33.333333333%;
  }

  structure-fluid.col-lg-offset-5 {
    margin-left: 41.666666667%;
  }

  structure-fluid.col-lg-offset-6 {
    margin-left: 50%;
  }

  structure-fluid.col-lg-offset-7 {
    margin-left: 58.333333333%;
  }

  structure-fluid.col-lg-offset-8 {
    margin-left: 66.666666667%;
  }

  structure-fluid.col-lg-offset-9 {
    margin-left: 75%;
  }

  structure-fluid.col-lg-offset-10 {
    margin-left: 83.333333333%;
  }

  structure-fluid.col-lg-offset-11 {
    margin-left: 91.666666667%;
  }

  structure-fluid.start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  structure-fluid.center-lg {
    justify-content: center;
    text-align: center;
  }

  structure-fluid.end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  structure-fluid.top-lg {
    align-items: flex-start;
  }

  structure-fluid.middle-lg {
    align-items: center;
  }

  structure-fluid.bottom-lg {
    align-items: flex-end;
  }

  structure-fluid.around-lg {
    justify-content: space-around;
  }

  structure-fluid.between-lg {
    justify-content: space-between;
  }

  structure-fluid.first-lg {
    order: -1;
  }

  structure-fluid.last-lg {
    order: 1;
  }

}
