div[is="struct-flex"],
struct-flex {
	display: flex;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
div[is="struct-item"],
struct-item {
	display: block;
	position: relative;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

/* Create multiple versions of sizing based on media queries 
   Media query sizing is based on the same numbers from Foundation.
*/
$breakpoints: (
  "" : (),
  -small: (
  	/* @ base font size of 16, this is less than 641px; */
  	max-width: 40rem
  ),
  -medium: ( /* @ base font size of 16, this is 641px - 1024px */
  	min-width: 40.063rem,
  	max-width: 64rem
  ),
  -large: /* @ base font size of 16, this is 1025px - 1440px */(
  	min-width:64.063rem,
  	max-width:90rem
  ),
  -xlarge: /* @ base font size of 16, this is 1440px - 1920px */(
  	min-width:90.063rem,
  	max-width:120rem
  ),
  -xxlarge: /* @ base font size of 16, this is greater then 1920px */(
  	min-width: 120.063rem
  )
);

body {
  animation-duration: 0.001s;
}

@each $size, $map in $breakpoints {
  $min: if(map-get($map,min-width),"and (min-width: "+map-get($map,min-width)+")","");
  $max: if(map-get($map,max-width),"and (max-width: "+map-get($map,max-width)+")","");

  @keyframes min-width#{$size} {
    from { clip: rect(1px, auto, auto, auto); }
    to { clip: rect(0px, auto, auto, auto); }
  }

  @media #{"only screen "+$min+$max} {
    body {
      animation-name: min-width#{$size}
    }
	@import '_styles';
  }

}
